<% @newsarticle.tags.build %>
<%= form_for(@newsarticle) do |f| %>
  <% if @newsarticle.errors.any? %>
    <table class="redbg" cellspacing="1" cellpadding="0">
		<tr><td id="error_explanation">
			<h3 class="whiteText paddingCenterText"><%= pluralize(@newsarticle.errors.count, "error") %> prohibited this newsarticle from being saved</h3>
			<table class="datatable whitebg" cellspacing="0" cellpadding="5">
			<tr><td>
			<ul>
				<% @newsarticle.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			</td></tr>
			</table>
		</td></tr>
	</table>
	<br />
  <% end %>
  
  <table class="datatable">
		<tr><td><span>User: </span><%= @newsarticle.name %></td></tr>
		
		<tr><td><%= f.label :title %></td></tr>
		<tr><td><%= f.text_field :title %></td></tr>
		
		<tr><td><%= f.label :article %></td></tr>
		<tr><td><%= f.text_area :article %></td></tr>
		
		<%= render :partial => 'tags/form', :locals => {:article_form => f} %>
		
		<tr><td><%=  f.submit %></td></td></tr>
	</table>
<% end %>
