
<div>
<table  class="datatable" height="100%">
<tr>
<td valign="middle" align="center">
<div class="notice">
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>
</div>
</td>
</tr>
</table>
</div>

<table class="datatable">
<tr><td width="90%"><h2><%= @newsarticle.title %></h2></td>
 <td><u><%= link_to 'Edit', edit_newsarticle_path(@newsarticle) %></u></td>
 <td>|</td>
 <td><u><%= link_to 'Back', newsarticles_path %></u></td>
</tr>
</table>

<hr/>
<p>
  <%= @newsarticle.article %>
</p>

<br/>
<h3>Tags</h3>
<div class="tag"><%= raw(join_tags(@newsarticle)) %><div>

<br/>

<h3>Add a comment</h3>
<%= render "comments/form" %>

<br />

<h3>Comments</h3>
<% @newsarticle.comments.each do |comment| %>
	<% if (@newsarticle.comments.length > 0 && comment.content != nil) %>
	<p><%= comment.content %></p>
	<hr />
	<% end %>
<% end %>

<br />
